# ======================
# Maven / Build
# ======================
target/
*.log

# ======================
# IntelliJ IDEA
# ======================
.idea/
*.iml
*.iws
*.ipr

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# Java
# ======================
*.class
*.jar
*.war

# ======================
# Environment / Config (optional secrets)
# ======================
.env
application-local.properties

# ======================
# Oracle Driver (VERY IMPORTANT)
# ======================
lib/ojdbc11.jar

# ======================
# Logs
# ======================
logs/
*.out

# ======================
# Node (if frontend later)
# ======================
node_modules/
dist/

.scannerwork