<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
     th:fragment="navbar">

    <div class="container">

        <a class="navbar-brand"
           th:href="@{/buyer/home}">
            RevShop
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse"
             id="navbarContent">

            <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/buyer/home}">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/buyer/products}">
                        Products
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/buyer/cart}">
                        Cart
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/buyer/orders}">
                        Orders
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/buyer/profile}">
                        Profile
                    </a>
                </li>



            </ul>

            <a th:href="@{/logout}"
               class="btn btn-outline-light btn-sm">
                Logout
            </a>

        </div>
    </div>
</nav>